<article class="floop-device"
		 [class.power-on]="powered"
		 [class.power-off]="!powered"
		 [class.ready]="ready && bootDone"
>
	<div class="floop-frame">

		<header>
			<h1>floop v.0</h1>
			<a class="thepower" (click)="onOff()">
				<ion-icon class="icon" name="power"></ion-icon>
			</a>
		</header>
		<section class="floop-display dynamic" #dynamicDisplay
				 [class.off]="!ready"
				 [class.on]="ready"
		>
			<div class="retro"></div>
			<div class="screen">
				<boot-screen *ngIf="dynamicContent==='boot'" (ready)="bootReady()"></boot-screen>
				<settings-screen *ngIf="dynamicContent==='settings'"></settings-screen>

				<viz-screen *ngIf="dynamicContent==='viz'"></viz-screen>

				<song-screen *ngIf="dynamicContent==='song'"></song-screen>
				<instrument-screen
						*ngIf="dynamicContent==='instrument'"
						[instrument]="currentInstrument"
				></instrument-screen>

			</div>
		</section>

		<section class="floop-display control" #controlDisplay
				 [class.off]="!ready || !bootDone"
				 [class.on]="ready && bootDone"
				 [class.no-track-nav]="!showTrackNav"
		>
			<div class="retro"></div>
			<div class="screen">
				<div *ngFor="let btn of controlButtons"
					 [ngClass]="['screen-button btn', btn.type, btn.on ? 'on' : 'off' ]"
					 [class.blink]="btn.blink"
				>
					<button (click)="tapButton(btn, $event)" >
						{{btn.label ?? ''}}
					</button>
				</div>
			</div>
		</section>

		<section class="floop-display sequencer" #sequencerDisplay
				 [ngClass]="[
				 	ready && bootDone ? 'on': 'off',
				 	sequencerWellBehavior === 'fx' ? 'well-fx' : 'well-step'
				 ]"
		>
			<div class="retro"></div>
			<div class="screen">
				<screen-button
						*ngFor="let btn of sequencerButtons ; trackBy: trackButtonNumber"
						[btn]="btn"
						(tap)="tapButton(btn)"
						(longPress)="longPressButton(btn)"
				></screen-button>
			</div>
		</section>

	</div>
</article>
