@font-face {
	font-family: Technicality1;
	src: url(/assets/fonts/technicality1.ttf) format('truetype');
}

@font-face {
	font-family: Munro;
	src: url(/assets/fonts/munro/MunroSmall-wPZw.ttf) format('truetype');
}
