@use 'include-media' as im;

body{
	background-color: var(--flp-body-bg);
}

.floop-device{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	&.power-off{
		.floop-display{
			pointer-events: none;
		}
	}
}

.floop-frame{

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	flex: 0 1 auto;

	width: 600px;
	//height: 1040px;
	height: auto;
	max-width: 100%;
	max-height: 100%;

	padding-top: calc( env(safe-area-inset-top) + var(--flp-frame-pad) * .5);
	padding-right: calc( env(safe-area-inset-right) + var(--flp-frame-pad) * .5);
	padding-bottom: calc( env(safe-area-inset-bottom) + var(--flp-frame-pad)* .5 );
	padding-left: calc( env(safe-area-inset-left) + var(--flp-frame-pad) * .5);

	@include im.media('>=tablet'){
		padding-top: calc( env(safe-area-inset-top) + var(--flp-frame-pad) );
		padding-right: calc( env(safe-area-inset-right) + var(--flp-frame-pad) );
		padding-bottom: calc( env(safe-area-inset-bottom) + var(--flp-frame-pad) );
		padding-left: calc( env(safe-area-inset-left) + var(--flp-frame-pad) );
	}


	background-color: var(--flp-frame-bg);
	color: var(--flp-frame-fg);

	box-shadow: var(--flp-frame-shadow), inset var(--flp-frame-bevel);

	border-radius: var(--flp-frame-radius);
	@include im.media('>=tablet'){
	}



	> header{
		font-family: var(--flp-frame-font);

		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;

		user-select: none;

		padding-inline-start: 5px;
		padding-inline-end: 5px;

		h1{
			font-size: 16px;
		}

		.thepower{
			color: inherit;
			cursor: pointer;
			margin-bottom: calc( var(--flp-display-gap) *.5 );

			@at-root .floop-device.power-on &{
				color: red;
			}
			@at-root .floop-device.ready &{
				color: greenyellow;
			}
		}

	}

}

